body {
    background-image: url("../img/bg4.jpg");
    background-size: 1600px 720px;
}

.navbar {
    background-color: transparent;
    height: 110px;
    color: white;
}

.navbar-brand {
    margin-left: 40px;
}